<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
        Annuaire des anciens étudiants de GEA
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
      <link href="{{ asset('bundles/abprojectdirectorygea/bootstrap/bootstrap.min.css') }}" rel="stylesheet" media="screen">
      <link rel="stylesheet" href="{{ asset('bundles/abprojectdirectorygea/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div class="content">
          <h1><a href="#">
            <img src="{{ asset('bundles/abprojectdirectorygea/images/logo.png') }}" alt="Annuaire GEA" />
          </a></h1>
        </div>
      </div>
 
      <div id="content">
 
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>
      <script src="{{ asset('bundles/abprojectdirectorygea/bootstrap/bootstrap.min.js') }}"></script>
  </body>
</html>