{% extends 'ABProjectDirectoryGEABundle::layout.html.twig' %}

{% block content -%}
	<div class="row">
	  <div class="col-md-4 col-md-offset-2">
	  	<h3>Venez nous voir !</h3>
	  	<p>IUT Le Mans </br>Avenue Olivier Messiaen</br>72085 Le Mans</p>
	  	<h3>Ou écrivez-nous</h3>
	  	<a href="mailto:contact@annuaire-gea.fr">contact@annuaire-gea.fr</a>
	  	<h3>Autres liens</h3>
	  	<p></p>
	  </div>
	  <div class="col-md-4">
	  	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5337.623695698776!2d0.159309779096284!3d48.01734483154943!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e286191a9ae4bf%3A0x96b5be744eda9b23!2sI.U.T.+Le+Mans!5e0!3m2!1sfr!2sfr!4v1431704376124" width="400" height="300" frameborder="0" style="border:0"></iframe>
	  </div>
	</div>
{% endblock %}