{% extends 'ABProjectDirectoryGEABundle::layout.html.twig' %}

{% block content -%}
	<div class="row">
	  <div class="col-md-4 col-md-offset-1">
	  	<h3>L’IUT GEA du Mans</h3>
	  	<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>
	  </div>
	  <div class="col-md-4 col-md-offset-1">
	  	<h3>L’annuaire des anciens étudiants</h3>
	  	<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>
	  </div>
	</div>
{% endblock %}