{% extends 'ABProjectDirectoryGEABundle::layout.html.twig' %}

{% block content -%}
    <div class="container">
    <h3>Editer l'étudiant</h3>

    {{ form(edit_form) }}

    <button class="btn">
        <a href="{{ path('etudiant') }}">Retour à la liste</a>
    </button>
    {{ form(delete_form) }}
	</div>
{% endblock %}
