
    <div class="container">
    <h3>Ajouter un étudiant</h3>

    {{ form(form) }}

        <button class="btn">
        	<a href="{{ path('etudiant') }}">Retour à la liste</a>
    	</button>
    </div>


    <div class="row">
        <div class="col-md-4 col-md-offset-4">
        <h3>Rechercher par :</h3>
        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>

        		{{ form_widget(form) }}

                <input class="btn" type="submit" value="search" />
            </div>
        </form>
        </div>
    </div>