{% extends 'ABProjectDirectoryGEABundle::layout.html.twig' %}

{% block content -%}
    <div class="container">
    <h3>Ajouter un étudiant</h3>

    {{ form(form) }}

        <button class="btn">
        	<a href="{{ path('etudiant') }}">Retour à la liste</a>
    	</button>
    </div>

{% endblock %}
