
.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.card-panel {
  padding: 20px;
  margin-top: 0.5rem;
  margin-bottom:1rem;
  border-radius: 2px;
  background-color: #fff;
}
a:active, a:hover {
  outline: 0;
}

.content a{
	color: #333;
}
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.btn, .btn-large, .btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
.btn, .btn-large {
  text-decoration: none;
  background-color: white;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}
.btn-large {
  height: 54px;
  line-height: 56px;
}
.btn:hover, .btn-large:hover {
  background-color: #86131c;
}
.btn:hover a, .btn-large:hover a{
  color: white !important;
}
.btn a:hover, .btn-large a:hover{
  text-decoration: none;
  color: white !important;
}
.buttons-list .btn{
	margin: 1rem;
}
.entity{
	margin-top: 3rem;
}
.student {
	cursor: pointer;
}
.student:hover{
	background-color: #86131c;
	color: white;
}
.red{
	color: #86131c !important;
}
.main-menu .nav{
	background-color:  #86131c;
	padding: 0 25%;
}
.main-menu a {
	color: white;
}
.main-menu a:hover,
.main-menu a:active,
.main-menu a:focus{
	background-color: #6d1017 !important;
}
.main-menu .menu-img{
	min-width:100%;
	max-width:100%;
}
.content{
 	margin-top: 30px;
}
.navigation-pagination{
  margin-top: 3em;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #86131c;
  border-color: #86131c;
}
.pagination>li>a, .pagination>li>span {
  color: #86131c;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: black;
}
.main-footer{
	background-color:  #86131c;
  	padding: 10px 0;
 	margin-top: 1em;
}
.main-footer a,
.main-footer{
	color: white;
}

/*SPINNER */

.spinner {
	margin: 50px auto;
	width: 50px;
	height: 50px;
	position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
	width: 6px;
	height: 6px;
	background-color: #86131c;

	border-radius: 100%;
	position: absolute;
	-webkit-animation : bouncedelay 1.2s infinite ease-in-out;
	animation : bouncedelay 1.2s infinite ease-in-out;

	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.container2 {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.container3 {
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}

.circle1 { top: 0; left : 0;}
.circle2 { top: 0; right : 0;}
.circle3 { right: 0; bottom : 0;}
.circle4 { left : 0; bottom: 0;}

.container2 .circle1 {
	-webkit-animation-delay : -1.1s;
	animation-delay : -1.1s;
}

.container3 .circle1 {
	-webkit-animation-delay : -1.0s;
	animation-delay : -1.0s;
}

.container1 .circle2 {
	-webkit-animation-delay : -0.9s;
	animation-delay : -0.9s;
}

.container2 .circle2 {
	-webkit-animation-delay : -0.8s;
	animation-delay : -0.8s;
}

.container3 .circle2 {
	-webkit-animation-delay : -0.7s;
	animation-delay : -0.7s;
}

.container1 .circle3 {
	-webkit-animation-delay : -0.6s;
	animation-delay : -0.6s;
}

.container2 .circle3 {
	-webkit-animation-delay : -0.5s;
	animation-delay : -0.5s;
}

.container3 .circle3 {
	-webkit-animation-delay : -0.4s;
	animation-delay : -0.4s;
}

.container1 .circle4 {
	-webkit-animation-delay : -0.3s;
	animation-delay : -0.3s;
}

.container2 .circle4 {
	-webkit-animation-delay : -0.2s;
	animation-delay : -0.2s;
}

.container3 .circle4 {
	-webkit-animation-delay : -0.1s;
	animation-delay : -0.1s;
}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0,0) }
	40% { -webkit-transform: scale(1.0)}
}

@keyframes bouncedelay {
	0%, 80%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 40% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}